* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(223, 211, 211);
}

/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: orange;
    padding: 10px;
    color: white;
}

header h1 {
    font-family: sans-serif;
    font-weight: 700;
    font-size: 21px;
}

header input {
    padding: 7px;
    border-radius: 4px;
    border: none;
    outline: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, 
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;;
}

.buttons button {
    padding: 8px 16px;
    border-radius: 5px;
    border: none;
    font-family: sans-serif;
    cursor: pointer;
    color: white;
}

.buttons button:nth-child(1) {
    background-color: red;
}

.buttons button:nth-child(2) {
    background-color: dodgerblue;
}

.buttons button:last-child {
    background-color: green;
}

/* KATEGORİLER */

.categories-box {
    padding: 20px;
}

.categories-box h1 {
    margin-bottom: 10px;
    font-family: sans-serif;
    font-size: 21px;
    font-weight: 700;
}

#categories {
    display: flex;
    gap: 20px;
}

.category {
    max-width: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category img {
    width: 100%;
    border-radius: 10px;
}

.category p {
    position: absolute;
    bottom: 0;
    width: 80%;
    padding: 3px;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 5px;
    font-family: sans-serif;
}

/* ÜRÜNLER */

.products-box {
    padding: 20px;
}

.products-box h1 {
    margin-bottom: 30px;
    margin-top: 20px;
    font-family: sans-serif;
    font-size: 21px;
    font-weight: 700;
}

#products {
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
}

.product {
    max-width: 230px;
    background-color: white;
    padding: 7px 7px;
    border-radius: 5px;
    font-family: sans-serif;
    align-items: center;
}

.product img {
    width: 100%;
    border-radius: 5px;
}

.product h1 {
    font-size: 16px;
    font-weight: 100;
}

.explanation {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.explanation p {
    text-align: center;
}

.price {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    border-radius: 15px;
}

.price button {
    background-color: orange;
    color: white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}

/* SEPET */

.modal-box {
  width: 100vw;
  height: 100vh;
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  background-color: #393e4689;
}

.modal {
  width: 500px;
  height: 500px;
  background-color: white;
  border-radius: 30px;
  padding: 20px;
  position: relative;
  overflow: auto;
  flex-direction: column;
}

.active {
    display: flex;
}

#close {
    position: absolute;
    right: 30px;
    font-family: sans-serif;
    color: darkblue;
    cursor: pointer;
}

#close:hover {
    color: red;
    transition: all 0.4s;
}

.urunBox {
    background-color: rgb(223, 211, 211);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
    border-radius: 15px;
    padding: 10px 20px;
    margin-bottom: 20px;
    margin-top: 30px;
}

.urunBox h1 {
    font-size: 20px;
}

.urunBox h2 {
    font-size: 15px;
}

.urunBox h3 {
    color: white;
    right: 220px;
    position: absolute;
}

.alt {
    position: absolute;
    bottom: 0;
    font-family: sans-serif;
    background-color: #393e4689;
    color: white;
    width: 500px;
    left: 0;
    padding: 5px 10px;
    text-align: center;
}

.alt span-2 {
    color: red;
    font-family: sans-serif;
}

#toplamBilgi {
    color: red;
    font-family: sans-serif;
}